.login-page {
    background-color: #4597ff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vh;
    color: black;
}

h1 {
    font-size: 2.5rem; /* Adjust the size as needed */
    margin-bottom: 1rem;
    color: black; /* Override color to ensure it's black */
}

.input-field {
    font-size: 1.5rem; /* Adjust the size as needed */
    margin-bottom: 1rem; /* Add some spacing between fields */
    color: black; /* Ensure input text color is black */
}

.sign-in-button {
    font-size: 1.5rem; /* Adjust the size as needed */
    color: black; /* Ensure button text color is black */
}

